[run]
omit =
    # omit all the code in the virtual environment
    */venv*/*
    */tests.py
    */test*.py
    */tests/common_test_base.py
    */tests/conftest.py

[report]
omit =
    */venv*/*
    */tests.py
    */test*.py
    */tests/common_test_base.py
    */tests/conftest.py
